<%= provide(:title, "Home")%>

<div class="row">
  <div class="col-xs-10">
    <div class="jumbotron">
      <div class="row">
        <div class="col-xs-8">
          <h3 class="font-weight-bold">Welcome to Bits+Books Online Store!</h3></br>
          <div class="col-xs-8">
            <p>
              In order to be something more than just a database,
              here is our very own online portal, allowing you to look
              through our luxurious selection.
            </p>
            <p>
              If you find anything
              you like, feel free to make an order!
            </p></br>
            <p class="font-weight-bold font-italic">
              Your friends at Bits+Books
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
