<nav class="navbar navbar-fixed-bottom navbar-dark bg-inverse">
  <div class="nav navbar-nav pull-xs-right">
    <!--  Modal Trigger -->
    <a class="nav-link nav-item" data-toggle="modal" data-target="#myModal">
      Credits
    </a>
  </div>
</nav>

<%= render 'layouts/footerModal'%>
