<nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
  <div class="nav navbar-nav">
    <%= link_to "Bits+Books", root_path, class: "navbar-brand text-info"%>
    <% if user_signed_in? %>
      <%= link_to "Listings", books_index_path, class: "nav-item nav-link"%>
      <div class="float-xs-right">
        <%= link_to "My Account", edit_user_registration_path, class: "nav-item nav-link"%>
        <%= link_to "Logout", destroy_user_session_path, method: 'delete', class: "nav-item nav-link"%>
      </div>
    <% end %>
  </div>
</nav>
